

<!-- End Navbar -->
<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Visitas</h5>
                    <span class="h2 font-weight-bold mb-0">{function="count($visitantes)"}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Produtos</h5>
                    <span class="h2 font-weight-bold mb-0">{function="count($produtos)"}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="ni ni-archive-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--7">
    
    <div class="row mt-3">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Produtos</h3>
              </div>
              <div class="col text-right">
                <a href="/admin/produtos" class="btn btn-sm btn-primary">Ver todos</a>
              </div>
            </div>
          </div>
          
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="text-align: center;">Foto</th>
                        <th scope="col" style="text-align: center;">Nome</th>
                        <th scope="col" style="text-align: center;">Preço</th>
                        <th scope="col" style="text-align: center;">Visitas</th>
                        <th scope="col" style="text-align: center;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {loop="$produtos"}
                    {if="$key<4"}
                    <tr>
                        <td style="text-align: center;"><img src="/assets/produtos/{$value.img}" width="40" alt="foto do produto {$value.nome}"></td>
                        <th scope="row" style="text-align: center;">{$value.nome}</th>
                        <td style="text-align: center;">{$value.valor}</td>
                        <td style="text-align: center;">{$value.visitas}</td>
                        <td style="text-align: center;">
                            <a href="/admin/produto/editar/1" class="btn btn-icon btn-md btn-2 btn-primary">
                                <span class="btn-inner--icon"><i class="ni ni-settings-gear-65"></i></span>
                            </a>
                            <a onclick="delProduct(1)" style="color: #f4f5f7;" class="btn btn-icon btn-2 btn-md btn-danger">
                                <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                    {/if}
                    {/loop}
                </tbody>
            </table>
            
          </div>
          
        </div>
      </div>
    </div>
    <!--   Core   -->
    