@charset 'UTF-8';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'vendors/animate';
@import 'vendors/fontawesome';

@import 'base/reset';
@import 'base/typography';

@import 'components/products';
@import 'components/buttons';

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';

@import 'pages/home';
@import 'pages/products';
@import 'pages/product';
