<section class="productsList">
    <div class="filters">
        <li>
            CATEGORIA
            <ul>
                {loop="$categoria"}
                <li><a href="/produtos/{$value.categoria}">{function="ucfirst($value.categoria)"}</a></li>
                {/loop}
            </ul>
        </li>
        <li>
            MARCA
            <ul>
                {loop="$marca"}
                <li><a href="/produtos/marca/{function="name($value.marca)"}">{function="ucfirst($value.marca)"}</a></li>
                {/loop}
            </ul>
        </li>
    </div>
    
    <div class="products" style="min-height: 50vh;">
        
        {if="$produtos!=NULL"}
            {loop="$produtos"}
            <div class="productBox">
                <a href="/produto/{function="name($value.nome)"}/{$value.id}">
                    <div class="boxImg">
                        <img src="/assets/produtos/{$value.img[0]}" alt="Imagem do produto - {$value.nome}">
                    </div>
                    <div class="boxInfo">
                        <p class="tag">{$value.marca}</p>
                        <p class="title">{$value.nome}</p>
                        <p class="price">R$ <span>{$value.valor}</span></p>
                    </div>
                </a>
            </div>
            {/loop}
        {else}
            <p style="text-align: center; display: block; width: 100%; font-size: 24px;">Nada encontrado</p>
        {/if}
        
    </div>
</div>
<br><br>
</section>