@media (max-width: 600px) {
    .products {
        .productBox {
            width: calc(100% / 1 - 20px * 2 - 4px);
        }
    }
    .offers {
        .offerBox {
            position: relative;
            .offerImg {
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 2;
                .imgBox {
                    max-width: 100%;
                }
            }
            .offerText {
                z-index: 3;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                text-align: center;
                margin: 0 auto;
                p {
                    margin-top: 20px;
                }
                a {
                    width: calc(100% - 15px * 2);
                }
            }
        }
    }
    .productsList {
        .productDesc {
            width: calc(100% - 20px * 2)!important;
            margin: 0 auto;
            .title {
                font-size: 30px!important;
            }
        }
    }
    .instagram {
        .pictureContainer {
            a {
                flex: 0 0 calc(100% / 2 - 10px * 2);
            }
        }
    }
    .footer {
        .footerBox {
            .infoBox {
                text-align: center;
                flex: 0 0 calc(100%);
                margin-bottom: 80px;
            }
        }
        .footerBottom {
            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 560px) {
    #mobileNav {
        display: block;
        position: absolute;
        z-index: 20;
        color: $w1;
        top: 20px;
        right: 20px;
        font-size: 30px;
        padding: 20px;
    }
    .navbar {
        display: block;
        .navStart {
            h1 {
                display: block;
                text-align: center;
            }
            .open {
                top: 0!important;
                filter: opacity(1)!important;
                @include select();
            }
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: fixed;
                top: -100vh;
                left: 0;
                filter: opacity(1);
                width: 100%;
                height: 100vh;
                padding: 0!important;
                margin: 0 auto!important;
                z-index: 10;
                background: rgba(0,0,0,0.8);

                @include transition(all 1s, cubic-bezier(0.65, 0.05, 0.36, 1));
                li {
                    text-align: center;
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    z-index: 20;
                    a {
                        display: block;
                        padding: 40px;
                        &:hover {
                            &:after {
                                display: none;
                            }  
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}